.winner-car {
  height: 100%;
  width: 100%;

  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
}

.score-table__row {
  display: grid;
  grid-template-columns: 100px 100px auto 100px 120px;
  text-align: center;
  align-items: center;
  border-bottom: 1px dotted #ffffff;
  
  p {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.2rem;

    border-right: 1px dotted #ffffff;
    border-left: 1px dotted #ffffff;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 50px 70px auto 70px 120px;
  }
}